<form method="post" action="/calculator/calculate">
<input type="number" name="number1" value="0">
<input type="number" name="number2" value="0">
<br>
<!-- Submit buttons disguised as Math operation buttons -->
<button class="submit" name="mathOperator" value="+">+</button>
<button class="submit" name="mathOperator" value="-">-</button>
<button class="submit" name="mathOperator" value="*">*</button>
<button class="submit" name="mathOperator" value="/">/</button>
<button class="submit" name="mathOperator" value="%">%</button>
<button class="submit" name="mathOperator" value="^">^</button>

</form>